<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gerenciador de Tarefas</title>
</head>
<body>
    <h1>Nossa API</h1>
    <button id="buttonGet">Get</button>
    <button id="buttonPost">Post</button>
    <button id="buttonPut">Put</button>
    <button id="buttonDelete">Delete</button>
    <button id="buttonDeleteAll">DeleteAll</button>
    <script src="../public/JS/script.js"></script>
</body>
</html>